<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.codehaus.timtam"
   name="TimTam Plug-in"
   version="1.0.0"
   provider-name="Zohar Melamed"
   class="org.codehaus.timtam.TimTamPlugin">

   <runtime>
      <library name="TimTam.jar">
         <export name="*"/>
      </library>
      <library name="lib/glue.jar"/>
      <library name="lib/glue-config.jar"/>
      <library name="lib/xstream-0.3.jar"/>
      <library name="lib/commons-io-SNAPSHOT.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.compare"/>
   </requires>


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TimTam Editor"
            icon="icons/page.gif"
            class="org.codehaus.timtam.editors.TimTamPageEditor"
            contributorClass="org.codehaus.timtam.editors.TimTamMultiPageEditorContributor"
            id="org.codehaus.timtam.editors.TimTamPageEditor">
      </editor>
      <editor
            name="Space Editor"
            icon="icons/space.gif"
            contributorClass="org.codehaus.timtam.editors.SpaceEditorContributor"
            class="org.codehaus.timtam.editors.SpaceEditor"
            id="org.codehaus.timtam.editors.SpaceEditor">
      </editor>
      <editor
            name="Browse Serach Result "
            icon="icons/search.gif"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            class="org.codehaus.timtam.editors.SearchResultBrowser"
            id="org.codehaus.timtam.editors.SearchResultBrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Confluence"
            class="org.codehaus.timtam.preferences.TimTamPreferencePage"
            id="org.codehaus.timtam.preferences.TimTamPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Confluence Properties"
            class="org.codehaus.timtam.properties.TimTamPropertyPage"
            nameFilter="*.*"
            id="org.codehaus.timtam.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="TimTam"
            id="org.codehaus.timtam">
      </category>
      <view
            name="Confluence"
            icon="icons/list_pages.gif"
            category="org.codehaus.timtam"
            class="org.codehaus.timtam.views.ConfluenceView"
            id="org.codehaus.timtam.views.ConfluenceView">
      </view>
      <view
            name="Search"
            icon="icons/search.gif"
            category="org.codehaus.timtam"
            class="org.codehaus.timtam.views.SearchView"
            id="org.codehaus.timtam.views.SearchView">
      </view>
      <view
            name="Versions"
            icon="icons/history.gif"
            category="org.codehaus.timtam"
            class="org.codehaus.timtam.views.VersionsView"
            id="org.codehaus.timtam.views.VersionsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.codehaus.timtam.model.ConfluenceDocumentProvider"
            inputTypes="org.codehaus.timtam.model.adapters.PageAdapter"
            id="org.codehaus.timtam.model.ConfluenceDocumentProvider">
      </provider>
   </extension>
   <extension
         id="org.codehaus.timtam"
         point="org.eclipse.ui.perspectives">
      <perspective
            name="TimTam"
            icon="icons/space.gif"
            class="org.codehaus.timtam.perspective.TimTamPerspectiveFactory"
            id="org.codehaus.timtam.perspective.TimTamPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="Confluence Markup"
            class="org.codehaus.timtam.template.ConfluenceContextType"
            id="org.codehaus.timtam.conluence.markup">
      </contextType>
      <include
            translations="templates/confluence-templates.properties"
            file="templates/confluence-templates.xml">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.codehaus.timtam.model.SearchElementFactory"
            id="org.codehaus.timtam.model.SearchElementFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.codehaus.timtam.actionSet">
         <menu
               label="&amp;Timtam"
               id="timtamMenu">
            <separator name="timtamGroup"/>
         </menu>
         <action
               toolbarPath="timtamGroup"
               label="&amp;Search"
               icon="icons/search.gif"
               tooltip="Search confluence server for a given phrase"
               class="org.codehaus.timtam.actions.SearchAction"
               style="push"
               menubarPath="timtamMenu/timtamGroup"
               id="org.codehaus.timtam.actions.SearchAction"/>
      </actionSet>
   </extension>
   <extension
         id="TimTam"
         name="TimTam"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.codehaus.timtam.TimTamApplication"/>
      </application>
   </extension>
   <extension
         id="TimTam"
         name="TimTam"
         point="org.eclipse.core.runtime.products">
      <product
            description="The Crunchy, Chocolate Coated, Java GUI Editor for Confluence"
            name="TimTam"
            application="TimTam">
      </product>
   </extension>

</plugin>
